html{
    background: #1c2541;
}

h1{
    display: flex;
    justify-content: center;
    color: aqua;
}

.players{
    display: flex;
    justify-content: space-around;
}
.X{
    color: aqua;
}
.O{
    color: aquamarine;
}
.X, .O{
    text-align: center;
}